
page-home {

}

.name {
  font-weight: 600;
}

.email {
  font-size: 12px;
}

.notification {
  background-color: #b8b8b8;
  border-radius: 7px;
  text-align: center;
  padding: 2px;
  margin: 4px;
  font-size: 14px;
}
