<ion-split-pane>
  <ion-menu [content]="content">
    <ion-header>
      <ion-toolbar>
        <!--<ion-title>ChatMail</ion-title>-->
        <button ion-button icon-start (click)="refreshMails()" class="center purple">
          <ion-icon name="mail"></ion-icon>
          Relever le courier
        </button>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item *ngFor="let contact of sessionData.listAllContacts()"
           class="new-messages"
          (click)='openConversation(contact)'>

          <div class="identity"> {{ contact.forename }} <span class="name"> {{ contact.name }} </span></div>
          <div class="email"> {{ contact.address }} </div>

          <div *ngIf="isToday(contact.date)" class="notification lightorange"> Aujourd'hui à {{ contact.date |date:"HH:mm" }}</div>

          <div *ngIf="isYesterday(contact.date)" class="notification orange"> Hier à {{ contact.date |date:"HH:mm" }}</div>
          <div *ngIf="!isYesterday(contact.date) && !isToday(contact.date)" class="notification darkorange"> Le {{ contact.date |date:"dd/MM/yyyy 'à' HH:mm" }} </div>

        </ion-item>
      </ion-list>
    </ion-content>

  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="messengerPage" main #content></ion-nav>
</ion-split-pane>
