page-camera {

}

.buttons-container {
  margin-height: 80%;
}

.button-left {
  width: 20%;
  float: left;
  margin-left: 20%;
}

.button-right {
  width: 20%;
  float: right;
  margin-right: 20%;
}
