
ion-app {
  background-color: transparent!important;
}

page-camera {
  background: transparent;
  opacity: 1;
}

.buttons-container {
  position: absolute;
  bottom: 10px;
  width: 100%;
  z-index: 1000;
}

.button-left {
  width: 35%;
  float: left;
  margin-left: 10%;
}

.button-right {
  width: 35%;
  float: right;
  margin-right: 10%;
}
