
.preview-container img {
  border-radius: 20px!important;
  border: solid 5px #454545;
}

.footer img {
  height: 115px;
  margin: 10px 5px;
}

.footer {
  text-align: center;
}

.preview {
  text-align: center;
  padding-top: 15px;
}

.preview img {
  max-height: 500px;
}

.preview-container {
  background-color: #202020;
  height: 100%;
}
