

<div class="preview-container" *ngIf="pictures.length > 0"> <!-- WARNING TODO remove -->



  <div class="preview">
    <img [src]="_DomSanitizationService.bypassSecurityTrustUrl('data:'+ pictures[currentPictureIndex].contentType + ';base64,' + pictures[currentPictureIndex].data)"
    alt="pictures[currentPictureIndex].filename" />
  </div>

  <div class="footer">
    <img *ngFor="let picture of pictures; let i = index"
    [src]="_DomSanitizationService.bypassSecurityTrustUrl('data:' + picture.contentType + ';base64,' + picture.data)"
    alt="{{ picture.filename }}"
    (click) = "changePicture(i)" />
  </div>

  <div>
    <button ion-button icon-start class="button center green" (click)="quitGalery()">
      <ion-icon name="return-left"></ion-icon>
       Retourner voir le courrier
    </button>
  </div>
</div>
