
img {
  border-radius: 20px;
  border: solid 5px #454545;
}

.footer img {
  height: 90px;
  margin: 10px 5px;
}

.footer {
  text-align: center;
}

.preview {
  text-align: center;
  padding: 30px;
}

.preview img {
  max-height: 350px;
}

.preview-container {
  background-color: gray;
  height: 100%;
}
